# Copy this file to .envrc

########################################
##### Don't replace this variables #####
########################################

########################################
#####    Replace this variables    #####
########################################

# The telegram bot token
export BOT_TOKEN=BOT_TOKEN
export CHAT_ID=CHAT_ID
export VISA_USER=VISA_USER
export VISA_PASSWORD=VISA_PASSWORD
